Midas/weights/dpt_beit_large_512.pt
Midas/weights/dpt_swin_large_384.pt
Midas/weights/dpt_swin2_large_384.pt
Midas/weights/dpt_swin2_tiny_256.pt
Midas/outputs
sam_vit_h_4b8939.pth
yolov5s.pt
yolov7.pt
yolov8n.pt
yolov7/
tempCodeRunnerFile.py
extras
Currency_detector_self.py
Grocery.pt
Indian_Currency_best.pt
last.pt
yolov5n.pt
yolov7.pt
yolov8n.pt
yolo_v8.py
Validation
_pycache_
